#slide-intro2 {
    .full-block {
        .full-block-cell {
            padding-top: 0;
            
            .full-block-content {
                padding: 0 20px;
            }
            
            .side-by-side-wrapper {
                .first-side {
                    img {
                        max-width: 250px;
                        
                        @media @screen-small-above {
                            max-width: 450px;
                        }
                    }
                }
            }
        }
    }
}