.narrative-audio{
    .full-block .full-block-cell {
        vertical-align: bottom;
    }
}

.narrative-player {
    position: relative;
    width: 100%;
    max-width: 600px;
    min-height: 150px;
    margin: 0;
    left: 50%;
    background-color: @caption-screen-dark;
    padding: 20px;

    .slide-title, .subtitle-wrapper {
        margin: 0 0 0 20px;
    }

    .slide-title {
        h2 {
            font-size: 28px;
        }
    }

    .subtitle-wrapper {
        display: none;
        p {
            font-size: 16px;
            line-height: 24px;
        }
    }

    .controls {
        position: absolute;
        bottom: 20px;
        width: 95%;
        .control-btn, .progress {
            position: relative;
            display: inline-block;
        }

        .control-btn {
            float: left;

            &.pause:before {
                font-family: "FontAwesome";
                content: "\f04c";
                font-size: 16px;
            }
            &.play:before {
                font-family: "FontAwesome";
                content: "\f04b";
                font-size: 16px;
            }
        }

        .player-progress {
            position: relative;
            height: 5px;
            float: right;
            width: 95%;
            top: 9px;

            .total, .played {
                position: absolute;
                top: 0;
                left: 0;
            }

            .total {
                background-color: white;
                width: 100%;
                height: 100%;
                z-index: 0;
            }
            .played {
                background-color: #999;
                width: 0;
                height: 100%;
                z-index: 1;
                .transition(width 0.5s linear);

                &.no-transition {
                    .transition(none);
                }
            }
        }
    }
}