.project-credits {
    .full-block {
        background: rgba(0, 0, 0, 0.7);

        .full-block-cell {
            vertical-align: middle;
        }

        .full-block-content {
            max-width: 700px;
            margin: 0 auto;

            h3 {
                font-size: 14px;
                margin: 0 auto 10px auto;
                text-transform: uppercase;
                font-weight: bold;
                padding-bottom: 5px;
                @media @screen-small-above {
                    font-size: 20px;
                }
            }


            p {
                font-family: georgia, serif;
                font-size: 12px;
                @media @screen-small-above {
                    line-height: 1;
                    font-size: 14px;
                }
            }

            .care-story, .support, .email {
                display: none;
            }

            .share-panel {

                margin: 20px 0;

                .share-story {

                    width: 100px;
                    float: none;

                    @media @screen-tiny-above {
                        width: auto;
                        margin: 10px 10px 10px 0;
                        float: left;
                    }

                    a {
                        width: 100px;
                        font-size: 12px;
                        display: inline-block;
                        text-transform: uppercase;
                        font-weight: bold;
                        text-decoration: none;
                        text-align: left;
                        padding: 5px;
                        font-family: "Gotham", Helvetica, Arial, sans-serif;
                        @media @screen-tiny-above {
                            width: auto;
                            text-align: center;
                            font-size: 16px;
                            padding: 5px 10px;
                        }
                    }
                }
            }

        }
    }
}

