{% extends '_slide.html' %}
{% block slide_content %}
        <div class="goats-and-soda">
            {{ row.text2|smarty }}
        </div>

        <div class="share-panel share-panel-section clearfix">
            <div class="care-story">
                <h3 class="question"></h3>
                <p class="share-story">
                    <a class="care-story-btn yes" href="#"><b> Yes </b></a>
                </p>
                <p class="share-story">
                    <a class="care-story-btn no" href="#"><b> No </b></a>
                </p>
            </div>

            <div class="support">
                <p class="share-story"><a class="support-btn" href="http://npr.org/stations/donate/index.php"><i class="fa fa-heart share-icon"></i> <b>Support Public Radio</b></a></p>
            </div>

            <div class="email">
                <h3>Please tell us why</h3>
                <p class="share-story"><a class="email-btn" href="mailto:???@npr.org"><i class="fa fa-envelope share-icon"></i> <b>Send us an email</b></a></p>
            </div>

        </div><!-- / share-panel-section -->

        <div class="credits">
            <h3>Project Credits</h3>
            {{ row.text1|smarty }}
        </div>
{% endblock %}
