{% extends '_base.html' %}

{% block header_content %}
{% endblock %}


{% block content %}

<div class="section">
    {% for row in COPY.content %}
        {% include "slides/%s.html" % (row.template) ignore missing %}
    {% endfor %}
</div>

<div class="home"><p><i class="fa fa-home"></i></p></div>

<div class="primary-navigation" style="opacity:1;">
    <div class="controlArrow prev"></div>
    <div class="controlArrow next"></div>
</div>

<div id="narrative-player"></div>
<div id="ambient-player"></div>

<div class="progress-indicator">
    <div class="current-progress"></div>
</div>

{% include '_share_modal.html' %}

{% endblock %}

{% block wide_content %}
{% endblock %}
