{% extends '_base.html' %}

{% block header_content %}
{% endblock %}


{% block content %}

<div class="section">
    {% for row in COPY.content %}
        {% include "slides/%s.html" % (row.template) ignore missing %}
    {% endfor %}
</div>
<div class="primary-navigation" style="opacity:1;">
    <div class="controlArrow prev"></div>
    <div class="controlArrow next"></div>
</div>

<div id="audio-narrative">
    <div id="pop-audio-narrative" class="jp-jplayer"></div>
    <div id="jp_container_1" class="jp-audio">
        <div class="jp-type-single">
            <div class="jp-gui jp-interface">
                <div class="jp-controls">
                    <a href="javascript:;" class="jp-play nav-btn" tabindex="1" title="play"><i class="fa fa-play"></i></a>
                    <a href="javascript:;" class="jp-pause nav-btn" tabindex="1" style="display: none;" title="pause"><i class="fa fa-pause"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="audio-ambient">
    <div id="pop-audio-narrative" class="jp-jplayer"></div>
    <div id="jp_container_2" class="jp-audio">
        <div class="jp-type-single">
            <div class="jp-gui jp-interface">
                <div class="jp-controls">
                    <a href="javascript:;" class="jp-play nav-btn" tabindex="1" title="play"><i class="fa fa-play"></i></a>
                    <a href="javascript:;" class="jp-pause nav-btn" tabindex="1" style="display: none;" title="pause"><i class="fa fa-pause"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block wide_content %}
{% endblock %}
